<header>
	<nav class="navbar fixed-top bg-light navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand" href="/">OneShop</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link position-relative" href="#" onclick="modalCart()">
							<i class="fa-solid fa-cart-shopping" id="cart-shop">
								
							</i></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							<i class="fa-solid fa-user"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Logout</a></li>
							<li><a class="dropdown-item" href="#">Account</a></li>
							<!--<hr class="dropdown-divider">-->

						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div>
		<h1 class="">Navbar</h1>
	</div>
</header>