<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Cart Detail</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>
<body>
<div class="container mt-5">
    <!-- Tambahkan elemen div untuk menampilkan informasi user di pojok kanan atas -->
    <div class="text-end">
        <p>Selamat datang, <strong th:text="${session.loggedInUser.username}"></strong>!</p>
    </div>

    <h1 th:text="${title_web}"></h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Kode Barang</th>
            <th>Nama Barang</th>
            <th>Jenis Barang</th>
            <th>Qty</th>
            <th>Harga</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id_detailcart}"></td>
            <td th:text="${item.kode_barang}"></td>
            <td th:text="${item.nama_barang}"></td>
            <td th:text="${item.jenis_barang}"></td>
            <td th:text="${item.qty}"></td>
            <td th:text="${#strings.substringBefore(item.harga, '.')}"></td>

            <td>
                <a th:href="@{'/edit-barang/' + ${item.seqId}}">Edit</a>
                <a th:href="@{'/delete-barang/' + ${item.seqId}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-end">
    <a class="btn btn-primary" th:href="@{/cart}">Next</a>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>