<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Home</title>

	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/fontawesome/css/all.min.css" rel="stylesheet" />
	<link href="/jqueryui/jquery-ui.min.css" rel="stylesheet" />
	<link href="/privateCSS/cart.css" rel="stylesheet" />

	<script src="/js/jquery-3.7.1.min.js"></script>
	<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/jqueryui/jquery-ui.min.js"></script>
</head>

<body>
	<h1>tes</h1>
	<!--button cart dummy-->
	<button id="button-masuk" class="btn btn-info me-2 text-white" type="button" style="text-wrap: nowrap;"
		onclick="modalCart()">cart
	</button>
	
	<!-- modal cart -->
	<div th:replace="~{/cart/cartModal.html :: modal-cart}"></div>
	<!--tambahan js cart-->
    <script src="/privateJS/cart.js"></script>
	<script>
		
	</script>
</body>

</html>