<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Form Customer</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Form Registrasi</h2>
            <form th:action="@{/register}" th:object="${user_data}" method="post">
                <div class="form-group">
                    <label for="username">username:</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div><br>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div><br>
                <div class="form-group">
                    <label for="email">email:</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div><br>
                <div class="form-group">
                    <label for="nama_lengkap">Nama Lengkap:</label>
                    <input type="text" id="nama_lengkap" name="nama_lengkap" class="form-control" required>
                </div><br>
                <div class="form-group">
                    <label for="alamat">Alamat:</label>
                    <textarea type="text" cols="20" rows="10" id="alamat" name="alamat" class="form-control" required></textarea>
                </div><br>
                <div class="form-group">
                    <label for="no_telp">Nomor Telepon:</label>
                    <input type="text" id="no_telp" name="no_telp" class="form-control" placeholder="Format: xxxx-xxxx-xxxx" required>
                </div><br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Daftar</button>
                    <a class="btn btn-secondary" th:href="@{/}">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
